@import './default.module.scss';

.form {
  display: flex;
  width: 100%;

  .commentBoxWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .text {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: $default-text-color;

      width: 100%;

      padding: 8px;
      padding-right: 125px;
      resize: none;
      border-radius: 7px 7px 0px 7px;

      border-color: grey;
      height: fit-content;

      min-height: 53px;
      overflow-y: hidden;

      &:focus {
        outline: none;
      }
    }

    .commentUtil {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .ratingWrapper {
        display: flex;
        padding: 6px 4px;

        .star {
          width: 30px;
          fill: $default-text-color;
          opacity: 0.4;
          cursor: pointer;
        }
        .active {
          fill: $highlight-colour;
          opacity: 1;
        }
      }

      .postCountWrapper {
        display: flex;
        align-items: center;
        .charCount {
          margin: 0 10px;
        }

        .postBtn {
          padding: 6px 12px;
          height: fit-content;
          border: solid 1px transparent;
          border-radius: 0 0 7px 7px;
          cursor: pointer;

          font-size: 1rem;
          color: white;
          background-color: $highlight-colour;
        }
      }
    }
  }
}

.commentWrapper {
  width: 100%;
  background-color: $background-colour;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;

  .username {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .postDate {
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: lighter;
  }
  .comment {
    font-size: 1rem;
  }
  .reviewStarRating {
    display: flex;

    .star {
      width: 20px;
      fill: $default-text-color;
      opacity: 0.4;
    }
    .active {
      fill: $highlight-colour;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 900px) {
  .form {
    .commentBoxWrapper {
      .commentUtil {
        .ratingWrapper {
          .star {
            width: 25px;
          }
        }
      }
    }
  }
}
