$highlight-colour: #50d471;
$background-colour: #202020;
$transparent-hightlight: rgba(255, 255, 255, 0.04);

$hero-size: 400px;

.link {
  color: $highlight-colour;

  &:hover {
    cursor: pointer;
  }
}

switch {
  width: 100%;
}
