@import './default.module.scss';

.modalWrapper {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 150vh;
  background-color: rgba(32, 32, 32, 0.7);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  // So modal background covers top of page
  transform: translateY(-200px);

  .modal {
    display: flex;

    max-width: 85vw;
    width: fit-content;

    position: relative;

    margin-top: 12%;
    border-radius: 10px;
    background-color: $background-colour;
    filter: drop-shadow(2px 2px 4px #ffffff10);
    border: solid 2px $transparent-hightlight;

    // So modal is more centered
    transform: translateY(100px);
    overflow: hidden;

    img {
      display: block;
      width: inherit;

      width: 350px;
      height: 350px;
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      padding: 20px;

      .title {
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 15px;
      }

      .makingInfoWrapper {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .modalDivide {
          width: 400px;
          padding: 0 15px;
        }

        .ingredientsWrapper {
          width: max-content;
          padding: 0 25px;

          .ingredients {
            display: flex;
            flex-direction: column;
          }
        }

        .subTitle {
          font-weight: bold;
          font-size: 1.1rem;
          margin-bottom: 10px;
        }
      }

      .ratingAndLikesWrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-self: flex-end;

        .ratingWrapper {
          .filled {
            height: 30px;
            width: 30px;
            fill: white;
          }
        }

        .likesWrapper {
          display: flex;
          justify-content: space-around;
          width: 100px;

          .likeBtn,
          .dislikeBtn {
            width: 32px;
            height: 32px;
            fill: white;

            &:hover {
              cursor: pointer;
            }
          }
          .dislikeBtn {
            margin-top: 6px;
            transform: scaleY(-1);
          }
        }
      }
    }
  }
}
