@import './default.module.scss';

.drinkMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drinkCardWrapper {
  padding: 0 10px;
  margin-bottom: 20px;
}
.drinkCard {
  display: flex;
  justify-content: space-between;
}

.drinkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: $background-colour;
  border-radius: 25px;
  border: 1px solid $highlight-colour;
}

.drinkImg {
  //! Cant get this to space properly the way I had it working
  margin-top: 3%;
  border-radius: 25px;
  width: 95%;
}

.drinkSmallInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drinkMoreInfoBtn {
  border-radius: 25px;
  border: none;
  background-color: $highlight-colour;
}

// NEW DESIGN
.drinkDisplayWrapper {
  display: flex;
}

.drinkCardWrapper2 {
  $transition-time: 0.15s;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  margin: 10px 20px;
  width: 250px;
  height: fit-content;

  border: solid 2px $transparent-hightlight;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 0 0 0 #ffffff00;

  img {
    display: block;
    width: 100%;
  }

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;

    transition-property: all;
    transition-duration: $transition-time;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;

    .tagWrapper {
      display: flex;
      flex-wrap: wrap;

      .tag {
        background-color: $transparent-hightlight;
        text-align: center;
        border-radius: 10px;
        width: fit-content;
        font-size: 0.8rem;

        margin: 4px 4px;
        padding: 2px 8px;
      }
    }

    .ratingWrapper {
      display: flex;
      margin-top: 10px;

      .filledStar,
      .hollowStar {
        fill: white;
        width: 25px;
        height: 25px;

        transition-property: fill;
      }
    }
  }

  transition-property: all;
  transition-duration: $transition-time;
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 3px 4px 10px 5px #ffffff0a;
    border-color: $highlight-colour;

    .title {
      color: $highlight-colour;
    }

    .ratingWrapper {
      .filledStar,
      .hollowStar {
        fill: $highlight-colour;
      }
    }
  }
}
