@import "./default.module.scss";

.drinkMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drinkCardWrapper {
  padding: 0 10px;
  margin-bottom: 20px;
}
.drinkCard {
  display: flex;
  justify-content: space-between;
}

.drinkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: $background-colour;
  border-radius: 25px;
  border: 1px solid $highlight-colour;
}

.drinkImg {
  //! Cant get this to space properly the way I had it working
  margin-top: 3%;
  border-radius: 25px;
  width: 95%;
}

.drinkSmallInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drinkMoreInfoBtn {
  border-radius: 25px;
  border: none;
  background-color: $highlight-colour;
}
