@import './default.module.scss';

$border-width: 2px;

.dropDownWrapper {
  display: flex;
  flex-direction: column;
  z-index: auto;
  user-select: none;
  width: 120px;

  left: -35%;

  margin-top: 10px;
  transform: translateX(0);

  border-radius: 4px;

  position: absolute;

  background-color: white;

  filter: drop-shadow(3px 4px 10px rgba(0, 0, 0, 0.1));

  .dropDownSection {
    padding: 5px 0;
  }

  .dropDownOption {
    padding: 0 10px;
    user-select: none;
    width: 100%;
    display: block;
    color: $default-text-color;
    cursor: pointer;

    &:hover {
      background-color: $highlight-colour;
      color: $background-colour;
    }
  }

  .dropDownTitle {
    z-index: 100;
    padding: 0 10px;
    font-weight: bold;
    word-wrap: break-word;
    color: $highlight-colour;
  }
}

.dropDownCarrotWrapper {
  position: relative;

  .dropDownCarrot {
    position: absolute;

    top: -10px;
    right: 42%;
    transform: translateX(50%);
    transform: rotate(45deg);
    transform-origin: center;

    width: 20px;
    height: 20px;
    background-color: white;
  }
}
