/*
Black = #272727
Grey = #747474
Orange = #FF652F
Yellow = #FFE400
Green = #14A76C
*/

.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    //!Background can be changed once we know what image we are using
}

.paragraphContainer{
    background-color: #272727;
    color: #FFE400;
    padding-right: 3%; //Pushes the text from the right
    padding-left: 3%; //Pushes the text from the left
    margin-top: 4%; //Pushes box from the top
    margin-right: 58%; //Pushes box from the right
    margin-left: 5%; //Pushes box from the left
    margin-bottom: 4%; //Pushes box from the bottom
    font-size: small; //Turns font to small
    border-radius: 25px; //Rounds the corners
}

.Header{
    color: #14A76C;
    text-align: center;
}