/*
Black = #272727
Grey = #747474
Orange = #FF652F
Yellow = #FFE400
Green = #14A76C
*/

.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    //!Background can be changed once we know what image we are using
}

.paragraphContainer{
    background-color: #272727;
    color: #FFE400;
    margin-top: 1%; //Pushes box from the top
    margin-right: 65%; //Pushes box from the right
    margin-left: 5%; //Pushes box from the left
    margin-bottom: 1%; //Pushes box from the bottom
    border-radius: 25px; //Rounds the corners
}

.paragraphContent{
    padding-left: 4%;
    padding-right: 4%;
    font-size: small;
}
.Header{
    color: #14A76C;
    text-align: center;
}