@import './default.module.scss';

.heroWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: $hero-size;
  margin: 20px 0;
  padding: 20px 0;
  box-shadow: $default-box-shdadow;
  border-radius: 10px;
}

.left {
  display: flex;
  justify-content: center;
  width: 50%;

  .aboutWrapper {
    width: 75%;

    .title {
      font-size: 3rem;
      font-weight: bold;
      line-height: 90%;
      margin-bottom: 15px;
      color: $highlight-colour;
    }

    .about {
      font-size: 0.85rem;
    }
  }
}

.right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;

  img {
    display: block;
    height: inherit;
  }
}

@media only screen and (max-width: 900px) {
  .heroWrapper {
    margin-top: 100px;
  }
}
