@import './default.module.scss';

.loginPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  margin-top: 70px;
  padding: 45px;
  border-radius: 10px;
  background-color: $transparent-hightlight;
}

.loginForm {
  width: 300px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.formElement {
  display: flex;
  flex-direction: column;

  margin: 5px 0;

  .submitButton {
    margin-top: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 5px;
    background-color: $highlight-colour;
    color: $background-colour;
    border: none;
    border-radius: 2px;

    cursor: pointer;
  }

  .backButton {
    margin-top: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: $highlight-colour;
    background: none;
    border: solid 2px $highlight-colour;

    cursor: pointer;
  }

  .inputField {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
}
