@import './default.module.scss';

.navContainer {
  width: 80%;
  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagesWrapper {
  display: flex;
}

.pageOption {
  margin: 0 40px;
  padding: 5px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.active {
  border-bottom: solid 2px $highlight-colour;
}

.userIcon {
  margin: 0 20px;
  padding: 5px;
  width: 30px;
  fill: white;

  &:hover {
    cursor: pointer;
  }
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
}
