@import './default.module.scss';

a {
  text-decoration: none;
}

$border-width: 2px;

.navContainer {
  width: 80%;
  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagesWrapper {
  display: flex;
}

.pageOption {
  margin: 0 40px;
  padding: 5px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.pageLink {
  color: inherit;
}

.active {
  color: $highlight-colour;
  border-bottom: solid 2px $highlight-colour;
}

.userIcon {
  position: relative;
  margin: 0 20px;
  padding: 5px;
  width: 30px;
  fill: white;

  &:hover {
    cursor: pointer;
  }
}

.dropDownWrapper {
  display: flex;
  z-index: auto;
  user-select: none;

  margin-top: 10px;
  transform: translateX(-26%);

  border-radius: 4px;
  border: solid $border-width $transparent-hightlight;

  position: absolute;

  background-color: $background-colour;

  filter: drop-shadow(2px 2px 4px #ffffff10);

  .dropDownSection {
    padding: 5px 0;
    border-top: solid 1px $transparent-hightlight;
    border-bottom: solid 1px $transparent-hightlight;
  }

  .dropDownOption {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: $highlight-colour;
      color: $background-colour;
    }
  }

  .dropDownTitle {
    z-index: 100;
    padding: 0 10px;
  }
}

.dropDownCarrotWrapper {
  position: relative;

  .dropDownCarrot {
    position: absolute;
    border-left: solid $border-width $transparent-hightlight;
    border-top: solid $border-width $transparent-hightlight;

    top: -10px;
    right: 42%;
    transform: translateX(50%);
    transform: rotate(45deg);
    transform-origin: center;

    width: 20px;
    height: 20px;
    background-color: $background-colour;
  }
}

.userIconLoggedIn {
  fill: $highlight-colour;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
}
