@import './default.module.scss';

.wrapper {
  margin: 15px 0;

  .link {
    color: $highlight-colour;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    text-align: center;
    width: 90%;
  }
}
